body {
  font-family: system-ui;  
  background-color: #B6DB79;
    }
  h1 {
    text-align:center;
    color:#B585CF;
    text-shadow: 2px 2px #000000;
    }
  p {
    text-align:center;
    color:#818181;
    }
  a.yellow {
    color:#ffdd4d;
    background-color:transparent;
    text-decoration:none;
    }
  a.black {
    color:#000000;
    background-color:transparent;
    text-decoration:none;
    }
  a.pink {
    color:#B585CF;
    background-color:transparent;
    text-decoration:none;
    }
  a.grey {
    color:#BFBFBF;
    background-color:transparent;
    text-decoration:none;
    }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px solid #818181;
  }

.topnav {
  background-color: #B585CF;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: 1px 1px #000000;
  font-size: 24px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #0F85A6;
  color: #BFBFBF;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  color: #0F85A6;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
     
  .main {
    margin-left: 0px;
    font-size: 28px;
    padding: 0px 10px;
    }
    
 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {

 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {

 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {

 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
  
 } 